<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	
	<title>Order Form</title>
</head>

<body>
	<div class="container ml-auto">
		
		<p class="h4 mb-4">New Buying Entry</p>
		
		
		<form action="#" th:action="@{/customers/saveOrder}" th:object="${order}" method="POST">
		
			<!-- Add hidden field to manage update -->
			<input type="hidden" th:field="*{id}"/>
			
			<input type="date" th:field="*{date}"  th:value="${#dates.format(#dates.createNow(), 'yyyy dd mm HH:mm')}" class="form-control mb-4 col-6"/>
    														
    		<input type="time"  th:field="*{time}"  th:value="${#execInfo.now.time}"	class="form-control mb-4 col-6"/>
		
			<input type="text" 	th:field="*{detail}" placeholder="Items description"  class="form-control mb-4 col-6"/>
			<input type="text" 	th:field="*{amount}" placeholder="Amount"  class="form-control mb-4 col-6"/>
			
			
			
			<button type="submit" class="btn btn-info col-2 mb-2">Save</button>	
		</form>
		
		<a th:href="@{/customers/list}"  class="btn btn-primary btn-sm">Back-to-List</a>
	</div>
</body>
</html>